.example-card {
  width: 100%;
  max-width: 400px;
  margin: 0 20px;
}

@media screen and (max-width: 600px) {
  .example-card {
    max-width: 100%;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.example-card {
  max-width: 400px;
  width: 100%;
  background-color: rgba(80, 80, 80, 0.616);
}

body {
  background: url('https://i.postimg.cc/02bM6xXx/Sin-t-tulo.png') no-repeat center center fixed;
  background-size: cover;
}

.centered-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Cambria, sans-serif;
}

.custom-form-field {
  max-width: 350px;
  height: 65px;
  width: 100%;
  margin: 0 auto;
}

.centered-htmltittle {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 0 20px;
}

.a-text {
  margin: 15px;
  font-family: Arial, sans-serif;
}

.justify-end {
  justify-content: flex-end;
}
.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}
.mat-checkbox-primary .mat-checkbox-background, .mat-checkbox-primary .mat-checkbox-frame {
  background-color: #161616;
}

.mat-checkbox-primary .mat-checkbox-checkmark-path {
  stroke: #2e2d2d;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}
.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;

}
.margin-left {
  margin-left: 10px;
}
