<body>
  <h1 class="centered-htmltittle">Lideratest</h1>
  <div class="container">
    <!--<mat-card class="example-card">
      <mat-card-header class="centered-title">
        <mat-card-title>Registrarse</mat-card-title>
      </mat-card-header>
      <mat-form-field class="custom-form-field">
        <mat-label>Nombre y Apellido</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field class="custom-form-field">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="custom-form-field">
        <mat-label>Usuario</mat-label>

        <input matInput>
      </mat-form-field>
      <mat-form-field class="custom-form-field">
        <mat-label>Email</mat-label>
        <input matInput type="email">
      </mat-form-field>
      <mat-form-field class="custom-form-field">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password">
      </mat-form-field>
        <mat-form-field class="custom-form-field">
          <mat-label>Confirmar Contraseña</mat-label>
          <input matInput type="password">
      </mat-form-field>
      <mat-form-field class="custom-form-field">
        <mat-label>Tipo De Usuario</mat-label>
        <mat-select>
          <mat-option value="one">Candidato a Lider</mat-option>
          <mat-option value="two">Evaluador</mat-option>
        </mat-select>
      </mat-form-field>
      <section color="primary" class="example-section">
        <mat-checkbox color="primary" class="example-margin">Acepto las Politicas y Condiciones</mat-checkbox>
      </section>
      <mat-card-actions class="justify-end">
        <button mat-button color="primary">Registrarse</button>
      </mat-card-actions>
    </mat-card>-->
    <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Complete los siguientes datos</ng-template>
          <mat-form-field>
            <mat-label>Nombre y Apellido</mat-label>
            <input
              matInput
              placeholder="Campo vacio"
              formControlName="firstCtrl"
              required
            />
          </mat-form-field>

          <mat-form-field class="margin-left">
            <mat-label>Correo Electronico</mat-label>
            <input
              matInput
              type="email"
              placeholder="correo no valido"
              formControlName="firstCtrl"
              required
            />
          </mat-form-field>
          <!--<div>
            <mat-form-field >
              <mat-label>Contraseña</mat-label>
              <input matInput type="password" placeholder="No valida" formControlName="firstCtrl" required>
            </mat-form-field>

            <mat-form-field class="margin-left">
              <mat-label>Repetir Contraseña</mat-label>
              <input matInput type="password" placeholder="No coincide" formControlName="firstCtrl" required>
            </mat-form-field>
          </div>
        -->
          <div>
            <mat-form-field>
              <mat-label>Fecha de Nacimiento*</mat-label>
              <input matInput [matDatepicker]="picker" />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div>
            <button mat-button matStepperNext>Siguiente</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Fecha y empresa</ng-template>
          <mat-form-field>
            <mat-label>Usuario</mat-label>
            <input
              matInput
              formControlName="secondCtrl"
              placeholder="Usuario"
              required
            />
          </mat-form-field>

          <div>
            <mat-form-field>
              <mat-label>Contraseña</mat-label>
              <input
                matInput
                type="password"
                formControlName="secondCtrl"
                placeholder="No Valido"
                required
              />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Repetir Contraseña</mat-label>
              <input
                matInput
                type="password"
                placeholder="No coincide"
                formControlName="secondCtrl"
                required
              />
            </mat-form-field>
          </div>

          <div>
            <button mat-button matStepperNext>Siguiente</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Ultimo Paso</ng-template>
        <p>Al registrarse esta aceptando las Politicas y Condiciones</p>
        <a routerLink="/politicas">Políticas y Condiciones</a>
        <div>
          <button mat-button matStepperPrevious>Registrarse</button>
          <button mat-button (click)="stepper.reset()">Limpiar campos</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</body>
