body {
  background: url('https://i.postimg.cc/02bM6xXx/Sin-t-tulo.png') no-repeat center center fixed;
  background-size: cover;
}
.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar {
  background-color: rgba(0, 0, 0, 0.7); /* Cambia el valor alfa (0.7) según tus preferencias */
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.example-card {
  max-width: 400px;
  width: 100%;
  background-color: transparent; /* Fondo completamente transparente */
  border: none; /* Sin borde */
}
