<body>
  <div class="container">
    <mat-card class="policy-card">
      <mat-dialog-content class="policy-dialog-content">
        <h2 class="policy-dialog-title">Políticas y Condiciones</h2>
        <div class="policy-dialog-body">
          <p>A continuación se detallan las políticas y condiciones de uso:</p>
          <ul>
            <li>Al utilizar cualquier servicio actual o futuro de Lideratest se estará sujeto a los lineamientos y condiciones aplicables a dicho servicio.</li>
            <li>Cualquier Evaluador como Candidato a Líder que desee acceder y usar el portal y los servicios podrá hacerlo sujetándose a estas Políticas y Condiciones.</li>
            <li>Con su registro y utilización del Portal, los Usuarios manifiestan su aceptación expresa e inequívoca de las Políticas y Condiciones.</li>
            <li>La utilización de Lideratest queda estrictamente PROHIBIDA respecto a menores de edad, cuya responsabilidad recae en los padres o representantes legales.</li>
            <li>Lideratest no se hace responsable de posibles conflictos que puedan ocurrir por el uso indebido de la plataforma.</li>
            <li>CUALQUIER PERSONA QUE NO ACEPTE ESTAS POLÍTICAS Y CONDICIONES GENERALES DEBERÁ ABSTENERSE DE UTILIZAR EL PORTAL Y LOS SERVICIOS DE LIDERATEST.</li>
          </ul>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions class="policy-dialog-actions">
        <button mat-button color="warn" class="policy-dialog-button">
          Atras
        </button>
      </mat-dialog-actions>
    </mat-card>
  </div>
</body>

