<body>
<h1 class="centered-htmltittle">Lideratest</h1>
<div class="container">
<mat-card class="example-card">
  <mat-card-header class="centered-title">
  <mat-card-title >Inicia Sesion</mat-card-title>
  </mat-card-header>
  <mat-form-field class="custom-form-field">
    <mat-label>Usuario</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field class="custom-form-field">
    <mat-label>Contraseña</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-card-content class="a-text">
    <a>
      Lideratest, Descubre de un grupo determinado de personas cual es la mas cualificada para ser un lider de un equipo de Trabajo.
    </a>
  </mat-card-content>
  <mat-card-actions class="justify-end">
    <button mat-button color="primary">Registrarse</button>
    <button mat-button color="primary">Ingresar</button>
  </mat-card-actions>
</mat-card>
</div>
</body>
